*{
    margin:0;
    padding:0;
}
.banner{
    width:100%;
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpeg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    color: white;
}
li{
    display: inline;
    color: white;
    cursor: pointer;
}
ul{
    margin-left: 50%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
.gallery {
    text-align: center;
    padding: 40px;
    background-color: wheat;
}

.gallery h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.gallery-images {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.gallery-images img {
    width: 250px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.gallery-images img:hover {
    transform: scale(1.1);
}
.contact {
    text-align: center;
    padding: 100px;
    background-color: wheat;
    color: black;
}

.contact h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 18px;
    margin: 10px 0;
}

